*{
  box-sizing: border-box ;
  margin: 0;
  padding: 0;
}


.experience{
  width: 100vw;
  height: 100vh;
}

.xr-box{
  width: 1cm;
  height: 1cm;
  background-color: yellow;
  position: absolute;
  bottom: 0;
  right: 0;

}

.experience-canvas{
  width: 100%;
  height: 100%;
}