*{
  box-sizing: border-box ;
  margin: 0;
  padding: 0;
}


.experience{
  width: 100vw;
  height: 100vh;
}

.xr-box{
  width: 1cm;
  height: 1cm;
  background-color: rgba(255, 255, 0, 0.311);
  position: absolute;
  bottom: 0;
  right: 0;
}

.top-slider{
  position: absolute;
  background-color: rgba(172, 255, 47, 0.323);
  transform: translate( -100% , 0% );
  width: 100vw;
  height: 100%;
}

.bottom-slider{
  position: absolute;
  background-color: rgba(255, 0, 0, 0.384);
  transform: translate( 0% , -100% );
  width: 100%;
  height: 100vh;
}

.experience-canvas{
  width: 100%;
  height: 100%;
}